<section class="index-module index-module__section-{{ section.id }} index-module__video">
  <div class="container">
    {% if section.settings.title != blank %}
      <h2 class="index-module__title">{{ section.settings.title }}</h2>
    {% endif %}

    <div class="rte">
      <div class="video-wrapper">
        <iframe src="//www.youtube.com/embed/{{ section.settings.youtube_video.id }}?autoplay=0&showinfo=0{% unless section.settings.show_video_controls %}&controls=0{% endunless %}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<style>
  .index-module__section-{{ section.id }} {
    background: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }
</style>

{% schema %}
{
  "name": "Video",
  "class": "shopify-section__featured-video",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your video"
    },
    {
      "type": "video_url",
      "id": "youtube_video",
      "accept": ["youtube"],
      "label": "YouTube video URL",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "checkbox",
      "id": "show_video_controls",
      "label": "Show video controls",
      "default": true
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "category": "Video",
      "name": "Featured video"
    }
  ]
}
{% endschema %}